@inject HttpClient _client


<EditForm Model="@food" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<fieldset disabled="@Disabled">
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="@food.FoodName" class="form-control" />
			<ValidationMessage For="@(() => food.FoodName)" />
		</div>
	</div>
	<div class="form-group">
		<label>Description: </label>
		<div>
			<InputText @bind-Value="@food.FoodDescription" class="form-control" />
			<ValidationMessage For="@(() => food.FoodDescription)" />
		</div>
	</div>
	<div class="form-group">
		<label>Category: </label>
		<div>
			<InputText @bind-Value="@food.FoodCategory" class="form-control" />
			<ValidationMessage For="@(() => food.FoodCategory)" />
		</div>
	</div>
	<div class="form-group">
		<label>Picture: </label>
		<div>
			<InputText @bind-Value="@food.FoodPicture" class="form-control" />
			<ValidationMessage For="@(() => food.FoodPicture)" />
		</div>
	</div>
	<div class="form-group">
		<label>Calory: </label>
		<div>
			<InputText @bind-Value="@food.FoodCalory" class="form-control" />
			<ValidationMessage For="@(() => food.FoodCalory)" />
		</div>
	</div>
	</fieldset>

</EditForm>

@if (!Disabled)
{
	<button type="submit" class="btn btn-success btn-block">
		@ButtonText
	</button>
}

@code {
    [Parameter] public Food? food { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
	[Parameter] public bool Disabled { get; set; } = false;
}