@inject HttpClient _client


<EditForm Model="@food" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<fieldset disabled="@Disabled">
		<div class="food-view-container">
			<h1 class="food-view-title">@food.FoodName</h1>
			<img src="@food.FoodPicture" class="food-view-image" style="max-width: 50%; max-height: 100%">
			<div class="food-view-details">
				<p><strong>Description:</strong> @food.FoodDescription</p>
				<p><strong>Category:</strong> @food.FoodCategory</p>
				<p><strong>Calories:</strong> @food.FoodCalory</p>
			</div>
		</div>
	</fieldset>
	@if (!Disabled)
	{
		<button type="submit" class="btn btn-success btn-block">
			@ButtonText
		</button>
	}
</EditForm>



@code {
	[Parameter] public Food? food { get; set; }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }
	[Parameter] public bool Disabled { get; set; } = false;
}